<div class="row">
  <div class="col" id="rightScreen">

    <div class="row">
      <div class="col-lg-4">
        <div class="card text-center dailyPlanCards">

          <div class="card-header">
            Breakfast
          </div>
          <img src="https://source.unsplash.com/random/breakfast" class="card-img-top" alt="..." style="height: 150px;">
          <div class="card-body">
            <h4 class="card-title recipeTitle"></h4>
            <p class="card-text dailyPlanDescription"></p>
            <a href="#" class="btn btn-danger"><i class="fas fa-heart"></i></a>
            <a href="#" class="btn btn-primary">Show Recipe</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center dailyPlanCards">
          <div class="card-header">
            Lunch
          </div>
          <img src="https://source.unsplash.com/random/lunch" class="card-img-top" alt="..." style="height: 150px;">
          <div class="card-body">
            <h4 class="card-title recipeTitle"></h4>
            <p class="card-text dailyPlanDescription"></p>
            <div class="dailyPlanBtns">
              <a href="#" class="btn btn-danger"><i class="fas fa-heart"></i></a>
              <a href="#" class="btn btn-primary">Show Recipe</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center dailyPlanCards">
          <div class="card-header">
            Dinner
          </div>
          <img src="https://source.unsplash.com/random/dinner" class="card-img-top" alt="..." style="height: 150px;">
          <div class="card-body">
            <h4 class="card-title recipeTitle"></h4>
            <p class="card-text dailyPlanDescription"></p>
            <a href="#" class="btn btn-danger"><i class="fas fa-heart"></i></a>
            <a href="#" class="btn btn-primary">Show Recipe</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="./js/dailyplan.js"></script>

{{!-- REFERENCES --}}

{{!-- Add event listeners to dynamically created elements --}}
{{!-- https://davidwalsh.name/event-delegate --}}