<div class="row">
  <div class="col" id="rightScreen">

    <div class="row">
      <div class="col-lg-4">
        <div class="card text-center dailyPlanCards">

          <div class="card-header">
            Breakfast
          </div>
          <img src="https://source.unsplash.com/random/breakfast" class="card-img-top" alt="..." style="height: 150px;">
          <div class="card-body">
            <h4 class="card-title" id="recipeTitle">Recipe Title</h4>
            <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi deserunt, pariatur mollitia maxime natus, alias ut, soluta quos veritatis rerum veniam fugit. Dolore voluptatum, obcaecati debitis quia molestiae reprehenderit nihil!</p>
            <a href="#" class="btn btn-danger"><i class="fas fa-heart"></i></a>
            <a href="#" class="btn btn-primary">Show Recipe</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center dailyPlanCards">
          <div class="card-header">
            Lunch
          </div>
          <img src="https://source.unsplash.com/random/lunch" class="card-img-top" alt="..." style="height: 150px;">
          <div class="card-body">
            <h4 class="card-title">Recipe Title</h4>
            <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum voluptas voluptate minima quo, nihil fuga sit itaque nisi dolores. Quasi necessitatibus nobis fugiat eos deleniti eum quis nulla optio! Distinctio.</p>
            <a href="#" class="btn btn-danger"><i class="fas fa-heart"></i></a>
            <a href="#" class="btn btn-primary">Show Recipe</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center dailyPlanCards">
          <div class="card-header">
            Dinner
          </div>
          <img src="https://source.unsplash.com/random/dinner" class="card-img-top" alt="..." style="height: 150px;">
          <div class="card-body">
            <h4 class="card-title">Recipe Title</h4>
            <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
              adipisicing elit.
              Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et placeat
              fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
            <a href="#" class="btn btn-danger"><i class="fas fa-heart"></i></a>
            <a href="#" class="btn btn-primary">Show Recipe</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="./js/dailyplan.js"></script>

{{!-- REFERENCES --}}

{{!-- Add event listeners to dynamically created elements --}}
{{!-- https://davidwalsh.name/event-delegate --}}