<div class="row">
  <div class="col" id="rightScreen">

    <div class="row">
      <div class="col-lg-4">
        <div class="card text-center dailyPlanCards">
          <div class="card-header">
            Recipe One
          </div>
          <div class="card-body">
            <h5 class="card-title" id="recipeTitle">Recipe Title</h5>
            <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et placeat
              fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
            <a href="#" class="btn btn-primary">Show Me The Recipe</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center dailyPlanCards">
          <div class="card-header">
            Recipe One
          </div>
          <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et placeat
              fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
            <a href="#" class="btn btn-primary">Show Me The Recipe</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center dailyPlanCards">
          <div class="card-header">
            Recipe One
          </div>
          <div class="card-body">
            <h5 class="card-title">Recipe Title</h5>
            <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et placeat
              fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
            <a href="#" class="btn btn-primary">Show Me The Recipe</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="./js/dailyplan.js"></script>

{{!-- REFERENCES --}}

{{!-- Add event listeners to dynamically created elements --}}
{{!-- https://davidwalsh.name/event-delegate --}}