<div class="row">
  <div class="col" id="rightScreen">
    <h3>Daily Meal Plan</h3>
    <div class="row">
      <div class="col-lg-4">
        <div class="card text-center dailyPlanCards">

          <div class="card-header">
            Breakfast
          </div>
          <div class="recipeImgBreakfast"></div>
          <div class="card-body">
            <h4 class="card-title recipeTitle"></h4>
            <p class="card-text dailyPlanDescription"></p>
            <div class="planBtns">
              <a href="#" class="btn btn-danger"><i class="fas fa-heart"></i></a>
              <a href="#" class="btn btn-primary">Show Recipe</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center dailyPlanCards">
          <div class="card-header">
            Lunch
          </div>
          <div class="recipeImgLunch"></div>
          <div class="card-body">
            <h4 class="card-title recipeTitle"></h4>
            <p class="card-text dailyPlanDescription"></p>
            <div class="planBtns">
              <a href="#" class="btn btn-danger"><i class="fas fa-heart"></i></a>
              <a href="#" class="btn btn-primary">Show Recipe</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center dailyPlanCards">
          <div class="card-header">
            Dinner
          </div>
          <div class="recipeImgDinner"></div>
          <div class="card-body">
            <h4 class="card-title recipeTitle"></h4>
            <p class="card-text dailyPlanDescription"></p>
            <div class="planBtns">
              <a href="#" class="btn btn-danger"><i class="fas fa-heart"></i></a>
              <a href="#" class="btn btn-primary">Show Recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="../js/dailyplan.js"></script>

{{!-- REFERENCES --}}

{{!-- Add event listeners to dynamically created elements --}}
{{!-- https://davidwalsh.name/event-delegate --}}