<div class="row">
  <div class="col" id="rightScreen">

    <h3>Your Favourites</h3>

    <div class="row">
      <div class="col-lg-4">
        <div class="card text-center favCards">
          <div class="card-header">
            Favourite One
          </div>
          <div class="favImg"></div>
          <div class="card-body">
            <h4 class="card-title favTitle"></h4>
            <a href="#" class="btn btn-primary">Show Recipe</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center favCards">
          <div class="card-header">
            Favourite Two
          </div>
          <div class="favImg"></div>
          <div class="card-body">
            <h4 class="card-title favTitle"></h4>
            <a href="#" class="btn btn-primary">Show Recipe</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center favCards">
          <div class="card-header">
            Favourite Three
          </div>
          <div class="favImg"></div>
          <div class="card-body">
            <h4 class="card-title favTitle"></h4>
            <a href="#" class="btn btn-primary">Show Recipe</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card text-center favCards">
          <div class="card-header">
            Favourite Four
          </div>
          <div class="favImg"></div>
          <div class="card-body">
            <h4 class="card-title favTitle"></h4>
            <a href="#" class="btn btn-primary">Show Recipe</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center favCards">
          <div class="card-header">
            Favourite Five
          </div>
          <div class="favImg"></div>
          <div class="card-body">
            <h4 class="card-title favTitle"></h4>
            <a href="#" class="btn btn-primary">Show Recipe</a>
          </div>
        </div>
      </div>  
    </div>

  </div>
</div>