<div class="row">
  <div class="col" id="rightScreen">

    <h4>Your Favourites</h4>

    <div class="row">
      <div class="col-lg-4">
        <div class="card text-center favCards">

          <div class="card-header">
            Breakfast
          </div>
          <div class="favImg1"></div>
          <div class="card-body">
            <h4 class="card-title favTitle"></h4>
            <p class="card-text dailyPlanDescription"></p>
            <div class="planBtns">
              <a href="#" class="btn btn-danger"><i class="fas fa-heart"></i></a>
              <a href="#" class="btn btn-primary">Show Recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>