<div>
    <div class="buttons">
        <button class="button is-medium" type="button" id="reg-now"><a href="/login">Login</a></button>
        <button class="button is-medium" type="button" id="reg-later"><a href="/signup">Signup</a></button>
    </div>
</div>