{{!-- <div class="container">
  <div class="col-1">
    <h1>Welcome Back!</h1>
    <div id="loginInput">
      <label for="email-login">Email:</label>
      <input type="text" id="email-login" />

      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <button class="button" id="loginBtn">Login!</button>
  </div>
  <div class="col-2">
    <h2>New Here?</h2>
    <p>Sign up below!</p>
    <div class="social-icons">

    </div>
    <div id="registerInput">

    </div>

  </div>
</div> --}}


<div class="row">
  <div class="col" id="leftScreen">
    <h1>Welcome Back!</h1>
    <div id="loginInput">
      <label for="email-login">Email:</label>
      <input type="text" id="email-login" />

      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <button class="button" id="loginBtn">Login!</button>
  </div>
  <div class="col" id="rightScreen">
    <h2>New Here?</h2>
    <p>Sign up below!</p>
    {{!-- social icons - use FontAwesome --}}
    <div class="social-icons">
      <span>Facebook Btn</span>
      <span>Google Btn</span>
    </div>
    {{!-- input --}}
    <label for="email-signup">Email:</label>
    <input type="text" id="email-login" />
    <br>
    <label for="username-login">Username:</label>
    <input type="text" id="username-signup" />
    <br>
    <label for="password-login">Password:</label>
    <input type="text" id="password-signup" />
    {{!-- button --}}
    <button class="button" id="signUpBtn">Sign Up!</button>

  </div>
</div>