<div class="row">
  <div class="col" id="rightScreen">
    <div class="row firstRow">
      <div class="col-sm-6">
        <a href="/dailyplan">
          <div class="card text-center homeCards" id="dailyPlan">
            <div class="card-body">
              <h5 class="card-title title">Create Daily Meal Plan</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a href="/weeklyplan">
          <div class="card text-center homeCards" id="weeklyPlan">
            <div class="card-body">
              <h5 class="card-title">Create Weekly Meal Plan</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row secondRow">
      <div class="col-sm-6">
        <a href="/setup1">
          <div class="card text-center homeCards" id="editProfile">
            <div class="card-body">
              <h5 class="card-title">Edit Profile</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a href="/favourites">
          <div class="card text-center homeCards" id="favList">
            <div class="card-body">
              <h5 class="card-title">Favourite's List</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
