<div class="container three">
  <h2 class="subtitle is-1">Login</h2>
  <br>
  <form class="login-form">
    <div>
      <label for="email-login">Email:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
    <br>
    <div>
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <br>
    <div>
      <button class="button is-medium" id="loginBtn" type="submit">Login</button>
    </div>
</div>

<script src="./js/login.js"></script>


