<div class="row">
    <div class="col" id="leftScreen">
        <h2>Setup your profile...</h2>
    </div>
    <div class="col" id="rightScreen">

        {{!-- input --}}
        <form>
            <div class="mb-3">
                <input type="dietaryPref" class="form-control" placeholder="Dietary Preference - make dropdown">
            </div>
            <div class="mb-3">
                <input type="Allergies" class="form-control" placeholder="Allergies - make dropdown">
            </div>
            
            <button type="submit" class="btn btn-secondary" id="NextBtn3">Next</button>
        </form>

    </div>
</div>