<div class="row">
    <div class="col" id="leftScreen">
        <h2>Setup your profile...</h2>
    </div>
    <div class="col" id="rightScreen">

        {{!-- input --}}
        <form>
            <div class="mb-3">
                <input type="weight" class="form-control" placeholder="Weight">
            </div>
            <div class="mb-3">
                <input type="Height" class="form-control" placeholder="Height">
            </div>
            <div class="mb-3">
                <input type="Weight Goal" class="form-control" placeholder="Weight Goal">
            </div>
            <div class="mb-3">
                <input type="Activity Level" class="form-control" placeholder="Activity Level">
            </div>
            
            <button type="submit" class="btn btn-secondary" id="nextBtn2">Next</button>
        </form>

    </div>
</div>