<div class="row">
    <div class="col" id="leftScreen">
        <h2>Setup your profile...</h2>
    </div>
    <div class="col" id="rightScreen">

        {{!-- input --}}
        <form>
            <div class="mb-3">
                <label for="profile-name" class="form-label">Name:</label>
                <input type="name" class="form-control" placeholder="Name" id="profile-name">
            </div>
            <div class="mb-3">
                <label for="profile-email" class="form-label">Email:</label>
                <input type="email" class="form-control" placeholder="Email Address" id="profile-email">
            </div>
            <div class="mb-3">
                <label for="profile-dob" class="form-label">Date of Birth:</label>
                <input type="dateofbirth" class="form-control" placeholder="DD/MM/YYYY" id="profile-dob">
            </div>
            <div class="mb-3">
                <label for="profile-password" class="form-label">Password:</label>
                <input type="password" class="form-control" placeholder="Password" id="profile-password">
            </div>
            <button type="submit" class="btn btn-secondary" id="nextBtn1">Next</button>
        </form>

    </div>
</div>