<div class="container three">
        <h2 class="subtitle is-1">Signup</h2>
        <br>
        <form class="signup-form">
          <div>
            <label for="username-signup">Username:</label>
            <input type="text" id="username-signup" />
          </div>
          <br>
          <div>
            <label for="email-signup">Email:</label>
            <input type="text" id="email-signup" />
          </div>
          <br>
          <div class="form-group">
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" />
          </div>
          <br>
          <div class="form-group">
            <button class="button is-medium reg-home" type="submit">Signup</button>
          </div>
        </form>
    </div>

    <script src="./js/signup.js" ></script>