<div class="row">
    <div class="col" id="leftScreen">
        <div class="successIcon">
            <i class="fas fa-check"></i> Great Success
        </div>
    </div>
    <div class="col" id="rightScreen"></div>
</div>