<div class="row">
  <div class="col" id="rightScreen">

    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#monday">Monday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tuesday">Tuesday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wednesday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Thursday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Friday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Saturday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sunday</a>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>
</div>

<script src="./js/weeklyplan.js"></script>