<div class="row">
  <div class="col" id="rightScreen">
    <h3>Weekly Meal Plan</h3>
    <div class="d-flex align-items-start weeklyplannav">
      <div class="nav flex-column nav-pills nav-fill me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-monday-tab" data-bs-toggle="pill" data-bs-target="#v-pills-monday"
          type="button" role="tab" aria-controls="v-pills-monday" aria-selected="true">Monday</button>
        <button class="nav-link" id="v-pills-tuesday-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tuesday"
          type="button" role="tab" aria-controls="v-pills-tuesday" aria-selected="false">Tuesday</button>
        <button class="nav-link" id="v-pills-wednesday-tab" data-bs-toggle="pill" data-bs-target="#v-pills-wednesday"
          type="button" role="tab" aria-controls="v-pills-wednesday" aria-selected="false">Wednesday</button>
        <button class="nav-link" id="v-pills-thursday-tab" data-bs-toggle="pill" data-bs-target="#v-pills-thursday"
          type="button" role="tab" aria-controls="v-pills-thursday" aria-selected="false">Thursday</button>
        <button class="nav-link" id="v-pills-friday-tab" data-bs-toggle="pill" data-bs-target="#v-pills-friday"
          type="button" role="tab" aria-controls="v-pills-friday" aria-selected="false">Friday</button>
        <button class="nav-link" id="v-pills-saturday-tab" data-bs-toggle="pill" data-bs-target="#v-pills-saturday"
          type="button" role="tab" aria-controls="v-pills-saturday" aria-selected="false">Saturday</button>
        <button class="nav-link" id="v-pills-sunday-tab" data-bs-toggle="pill" data-bs-target="#v-pills-sunday"
          type="button" role="tab" aria-controls="v-pills-sunday" aria-selected="false">Sunday</button>
      </div>
  
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-monday" role="tabpanel" aria-labelledby="v-pills-monday-tab">
          <div class="row">
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Breakfast
                </div>
                <div class="card-body">
                  <h5 class="card-title" id="recipeTitle">{{monday.recipe-title.[0]}}</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Lunch
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{monday.recipe-title.[1]}}</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Dinner
                </div>
                <div class="card-body">
                  <h5 class="card-title">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-tuesday" role="tabpanel" aria-labelledby="v-pills-tuesday-tab">
          <div class="row">
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title" id="recipeTitle">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-wednesday" role="tabpanel" aria-labelledby="v-pills-wednesday-tab">
          <div class="row">
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title" id="recipeTitle">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-thursday" role="tabpanel" aria-labelledby="v-pills-thursday-tab">
          <div class="row">
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title" id="recipeTitle">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-friday" role="tabpanel" aria-labelledby="v-pills-friday-tab">
          <div class="row">
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title" id="recipeTitle">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-saturday" role="tabpanel" aria-labelledby="v-pills-saturday-tab">
          <div class="row">
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title" id="recipeTitle">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-sunday" role="tabpanel" aria-labelledby="v-pills-sunday-tab">
          <div class="row">
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title" id="recipeTitle">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center dailyPlanCards">
                <div class="card-header">
                  Recipe One
                </div>
                <div class="card-body">
                  <h5 class="card-title">Recipe Title</h5>
                  <p class="card-text dailyPlanDescription">Recipe Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Praesentium officiis magnam illum aliquam architecto, aperiam mollitia tenetur provident iure et
                    placeat
                    fugiat enim nulla asperiores fuga explicabo rem sed porro?</p>
                  <a href="#" class="btn btn-primary">Show Me The Recipe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./js/weeklyplan.js"></script>