/* MAIN TEMPLATE */

.mainContainer {
    margin-top: 150px !important;
    width: 80% !important;
    filter: drop-shadow(6px 6px 5px rgb(85, 85, 85));
    border-radius: 50px !important;
}

#leftScreen {
    height: 65vh;
    background-color: #8fe3b8;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#rightScreen {
    background: white;
    height: 65vh;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

h1 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    position: relative;
    top: 50px;
}

nav {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* SETUP PROFILE FORM */

#profileSetup {
    margin: 50px auto;
    padding: 0px 50px;
    width: 100%;
    min-width: 300px;
}
  
input.invalid {
    background-color: #ffb8b8;
}
  
.page {
    display: none;
}
  
.pageIndicator {
    text-align: center;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #7c7c7c;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
  
.pageIndicator.active {
    opacity: 1;
}
  
.pageIndicator.finish {
    background-color: #00ce22;
}

.pageCounter {
    margin-top: 30px;
    text-align: center;
}

/* HOME SCREEN */

h3 {
    text-align: center;
    padding-top: 50px;
    position: relative;
}

.homeCards {
    position: relative;
    top: 50px;
    padding: 60px 0px;
}

.secondRow {
    position: relative;
    top: 50px;
}

#dailyPlan {
    margin-left: 50px;
    background-color: yellow;
}

#editProfile {
    margin-left: 50px;
    background-color: yellowgreen;
}

#favList {
    margin-right: 50px;
    background-color: violet;
}

#weeklyPlan {
    margin-right: 50px;
    background-color: lightskyblue;
}

/* DAILY MEAL PLAN */

.dailyPlanCards {
    position: relative;
    margin-top: 100px;
    height: 450px;
}

.dailyPlanDescription {
    height: 250px;
}

/* WEEKLY MEAL PLAN */

#v-pills-tab {
    position: relative;
    height: 400px;
    top: 125px;
}