<div class="container">
  <div class="col-1">
    <h1>Welcome Back!</h1>
    <div id="loginInput">
      <label for="email-login">Email:</label>
      <input type="text" id="email-login" />

      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <button class="button" id="loginBtn">Login!</button>
  </div>
  <div class="col-2">
    <h2>New Here?</h2>
    <p>Sign up below!</p>
    <div class="social-icons">
      
    </div>
    <div id="registerInput">
      
    </div>

  </div>
</div>