<div class="container">
  <div class="col-1">
    <h1>Welcome Back!</h1>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
    <button class="button" id="loginBtn">Login!</button>
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="col-2">
    <h2>New Here?</h2>
    
  </div>
</div>